/* ------ Box Model ------ */
* {
    box-sizing: border-box;
}

/* ------ Clearfix ------ */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    clear: both;
}

/* ------ Base Styles ------ */
html {
    color: #dcdde5;
    background: #1d222c url("/assets/nasa-Q1p7bh3SHj8-unsplash.jpg") fixed center center no-repeat;
    background-size: cover;
    font-family: "Open Sans", Helvetica, sans-serif;
    text-align: center;
}
a {
    color: #dcdde5;
    text-decoration: none;
}

/* ------ Layout ------ */
header {
    margin: 160px 0;
}
.summary, .services, .cta {
    padding: 60px 120px;
}
.summary {
    display: flex;
    justify-content: center;
}
.summary p {
    width: 60%;
}
.services {
    padding-top: 0;
}
.services > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
footer {
    padding: 15px 0;
}

/* ------ Additional Styles ------ */
header h1, header h2 {
    font-family: Play, Helvetica, sans-serif;
}
header > h1 {
    font-size: 60px;
    letter-spacing: 2px;
    margin-bottom: 0;
}
header > h2 {
    font-size: 24px;
    letter-spacing: 3px;
    margin-top: 0;
    text-transform: uppercase;
}
.btn {
    border: 1px solid #dcdde5;
    border-radius: 8px;
    display: inline-block;
    padding: 10px 30px;
    margin: 40px 0;
    text-transform: uppercase;
}
main, footer {
    background: linear-gradient(#1d222c, #141823);
    border-radius: 16px;
}
main i {
    font-size: 3rem;
}
main p {
    width: 300px;
    padding: 0 20px;
}
h3 {
    margin-bottom: 60px;
}
footer span {
    padding-right: 80px;
}
footer span:last-child {
    padding-right: 0;
}